{control paypalForm}

<!--
<form action="/buy/paypal" METHOD="POST">
<input type="image" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" border="0" align="top" alt="Zaplatit přes PayPal">

</form>
-->
