<!DOCTYPE html>
<html>
<head>
	<title>PayPal Module Example</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}
</body>
</html>
